* {
    margin: 0;
    padding: 0;
}
/* ------------------------- header --------------------------------- */
header {
    position: relative;
    height: 100vh;
  }
  
  header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../image/beautiful-mountain-road-landscape.jpg");
    /* background-image: url("../image/carrental2-sectionbg1.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: -1;
  }

nav {
    width: 100%;
    display: inline-block;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
    font-size: 1.2rem;
}

header nav ul li a {
    color: white;
  }

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    color: #fd3e04;
    transition: .2s;
}

nav ul li:nth-last-child(2):hover {
    background-color: #59595953;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

.joinStyle {
    padding: 0 20px;
    margin-left: 30px;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

.svgIcon {
    fill: white;
}

.greetingContainer {
    /* background-color: aquamarine; */
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.greetingInfo {
    font-size: 5rem;
    font-family: 'Dancing Script', cursive;
    /* background-color: blue; */
    color: white;
}

.greetingValue {
    /* background-color: red; */
    font-size: 5rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 20px;
    color: white;
    letter-spacing: 20px;
}

.greetingBtn {
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.greetingBtn p {
    color: #fd3e04;
}

/* ----------------------- main ---------------------------- */
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logoContainer:hover .logo-slide {
    animation-play-state: paused;
}

.logoContainer {
    background-color: #0F0F0F;
    /* height: 150px; */
    display: flex;
    /* align-items: center; */
    overflow: hidden;
    padding: 60px 0 ;
    position: relative;
}

/* .logoContainer::before, .logoContainer::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
} 

.logoContainer::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255 , 255, 0), white);
}

.logoContainer::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255 , 255, 0), white);
} */

.logo-slide {
    white-space: nowrap;
    animation: 25s slide infinite linear;
}

.logo-slide img {
    height: 75px;
    margin: 0 40px;
}


section {
    min-height: 100vh;
    display: flex;
}

.globalInfo {
    background-color: #f2f2f2;
}

.globalInfoCont {
    /* background-color: red; */
    padding-left: 20%;
}

.nameCarContainer {
    padding-top: 20px;
}

.nameCar {
    font-size: 4rem;
}

.descContainerCont {
    padding: 40px 0;
    /* border-bottom: 1px solid #595959; */
}

.descContainer {
    width: 70%;
}

.desc {
    font-size: 1.3rem;
    color: #595959;
}

.optionsContainer {
    display: flex;
    /* flex-direction: column; */
}

.optionsContainer img {
    width: 30px;
}

.optionsContainer p {
    font-size: 1.4rem;
    color: #595959;
    padding-left: 10px;
}

.firstOption, .secondOption, .thirdOption, .fourthOption {
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-top: 20px;
}

.priceButton {
    display: flex;
    margin-top: 20%;
}

.globalBtn {
    background-color: #fd3e04;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 15px 25px;
    margin-right: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.globalBtnText {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.globalBtn img {
    width: 20px;
}

.globalPrice {

}

.globalPriceValue {
    font-size: 2.3rem;
    font-weight: bold;
}

.globalPriceInfo {
    color: #595959;
    font-size: 1.3rem;
    font-weight: 700;
}




.containImage {
    width: 100%;
}

.imageContainer {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.carImage {
    width: 80%;
    opacity: 0; /* Initially hide the image */
    transition: opacity 2s ease; /* Apply transition to opacity property */
    mix-blend-mode: color-burn;
}
  
.carImage.loaded {
    opacity: 1; /* Show the image when loaded */
}

.arrowContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.arrow {
    border-radius: 50%;
    border: 3px solid #fd3e04;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
}




/* ------------------------- responsive -------------------------- */

@media(max-width: 800px) {
    
    nav ul li:first-child a {
        color: black;
    }

    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}